/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f7f7f7; /* Light gray background */
    color: #333; /* Dark gray text */
    line-height: 1.6;
    margin-top: 0; /* Remove margin from the top */
}

/* Header Styles */
header {
    background-color: #011b35; /* Slightly darker background for title */
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Padding for title box */
}

header h1 {
    margin: 0; /* Remove margin */
    font-size: 3em; /* Larger font size for header */
}

/* Navbar Styles */
.navbar {
    background: #eaeaea;
    height: 100px; /* Increased height for navigation */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display buttons horizontally */
}

.navbar ul li {
    margin: 0 20px; /* Increased margin between buttons */
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5em; /* Larger font size for buttons */
    padding: 15px 40px; /* Increased padding for buttons */
    border: 2px solid transparent; /* Thicker border */
    border-radius: 15px; /* Rounded corners */
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    border-color: #333;
    background-color: #fff; /* White background on hover */
    color: #146ac6; /* Light green text on hover */
}
