* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}
.navbar {
    background-color:  #325e8b;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow: auto;
    overflow-x: hidden;
    font-size: large;
    padding-top: 1.5rem;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    
}

.navbar li a {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
}

.navbar li a:hover {
    background-color: #000000;
}

.profile-content {
    margin-left: 200px;
    padding: 20px;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
}

.recipes-section{
    display: flex;
    gap: 20px;
    max-width: calc(100% - 200px);
    flex-wrap: wrap;
}

.user-recipes{
    flex-grow: 4;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
    background: url('../images/defaultProfilePic.png');
    object-fit: cover;
}

button{
    margin: 20px 0;
    border-radius: 5px;
    background-color: #325e8b;
    padding: 10px;
    transition: background-color 0.3s; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
    background-color: #325e8b;
}

.username {
    font-size: 2em;
    margin-bottom: 10px;
}

.user-stats {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.user-stats span {
    display: block;
    margin: 10px 0;
}
h3{
    text-align: center;
    margin-bottom: 20px;
}

.pinned-recipes {
    flex-basis: 20%;
    max-width: 20%;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    font-size: large;
}

.recipe-card {
    background: #F7F7F7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-title {
    background-color: #325e8b;
    color: #dfdfdf;
    padding: 16px;
    margin: 0;
    font-size: 1.5em;
}

.recipe-link {
    text-decoration: none;
    color: #ececed;
    display: block;
}

.recipe-link:hover {
    text-decoration: underline;
}

.recipe-tags {
    padding: 16px;
    line-height: 1.6;
    background-color: #F7F7F7;
    border-top: 1px solid #ddd;
}

.tag-link {
    background-color: #ffffff;
    color: #4C4C4C;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    text-decoration: none;
    border: 1px solid #465e48;
    transition: background-color 0.3s;
}

.tag-link:hover {
    background-color: #325e8b;
    color: white;
}

@media (max-width: 768px) {
    .recipes-section {
        flex-direction: column;
        max-width: 100%;
    }
    
    .user-recipes, .pinned-recipes {
        flex-basis: auto;
        max-width: 100%;
    }
}