body, * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    /* margin: 20px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    margin-left: 200px; /*same width as the navbar */
    padding: 20px;
    max-width: calc(100% - 200px); /*adjust the width based on the navbar width */
}

.recipe {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.recipe-title {
    color: #333;
    text-align: center;
}

.author-date {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

.ingredients, .directions, .tags {
    margin-bottom: 20px;
}

.ingredients ul, .directions p, .tags p {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
}

.recipe-image {
    display: block;
    max-width: 40%;
    height: auto; /* maintain aspect ratio */
    border-radius: 8px; /* optional: rounds the corners of the image??? do we want this*/
    margin: 0 auto 20px;
}

.navbar {
    background-color:  #325e8b;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow: auto;
    overflow-x: hidden;
    font-size: large;
    padding-top: 1.5rem;
    line-height: 1.2;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    line-height: 1.2;
}

.navbar li a {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
    line-height: 1.2;
}

.navbar li a:hover {
    background-color: #000000;
}

button{
    margin: 20px 0;
    border-radius: 5px;
    background-color: #aecfcf;
    padding: 10px;
    transition: background-color 0.3s; 
}

button:hover{
    background-color: #89a6a6;
}

.tag-link {
    background-color: #ffffff; /* Pastel green background for tags */
    color: #000000; /* Dark grey text color for tags */
    padding: 5px 10px;
    border-radius: 15px; /* More rounded corners for bubble effect */
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    text-decoration: none; /* Remove underline from links */
    border: 1px solid #465e48; /* Border for tags */
    transition: background-color 0.3s; /* Smooth background transition on hover */
}

.tag-link:hover {
    background-color: #325e8b; /* Slightly darker on hover for visual feedback */
    color: white;
}

@media (max-width: 1000px) { /* Or any appropriate width */
    .main-container {
        margin-left: 0;
        max-width: 100%;
    }
}
